@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900|Raleway:400,500,700,800');
body {
    font-family: 'Raleway', sans-serif;
    color: #1c2e53;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sec-heading {
    font-weight: 700;
    position: relative;
    padding-bottom: 15px;
    font-size: 55px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
}

.sec-heading:after {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background: #3498db;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -38px;
}

.sub-heading {
    font-style: oblique;
}

.breadcrumb-bg {
    background-color: #39579a;
}

ol.breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
}

ol.breadcrumb li a {
    color: white;
}

ol.breadcrumb li.active {
    color: #ddd;
}

.main {
    padding: 75px 0;
}

/******* ****** *******/

/******* navbar *******/

/******* ****** *******/

.navbar {
    /* background: rgba(255, 255, 255, .7); */
    /* background: #fff; */
    /* position: absolute; */
    transition: 900ms ease;
    background: transparent;
    border: none !important;
    width: 100%;
}

.navbar-brand span {
    font-weight: 700;
    letter-spacing: 0px;
    /* text-shadow: 2px 2px 8px #bbb; */
    font-size: 35px;
    color: #fff;
}

/* .navbar-scroll .navbar-nav .nav-link {
    color: #fff;
} */

.navbar-light .navbar-nav .nav-link, .navbar-scroll .navbar-nav .nav-link {
    transition: 750ms ease;
    font-weight: 700;
    margin: 0 15px;
    /* font-size: 20px; */
    letter-spacing: 2px;
}

/* @media only screen and (min-width: 992px) { */

/* .navbar-scroll .navbar-nav .nav-link.light {
    color: #fff;
}

.navbar-scroll .navbar-nav .nav-link.dark {
    color: #000;
} */

/* .navbar-dark .navbar-toggler {
    background-color: rgba(0, 0, 0, .6);
} */

/* } */

.navbar-light .navbar-nav .active>.nav-link, .navbar-scroll .navbar-nav .active>.nav-link {
    color: #3498db;
}

/******* ********* *******/

/******* jumbotron *******/

/******* ********* *******/

#jumbotron {
    background: linear-gradient( rgba(0, 0, 0, .8), rgba(0, 0, 0, .5)), url(../img/bg12.jpg) no-repeat center center fixed;
    background-size: cover;
}

#jumbotron .flex-container {
    min-height: 100vh;
}

.jumbo-content {
    background-color: #fff;
    min-height: 650px;
    min-width: 100%;
    border-radius: .25rem;
    display: flex;
}

.jumbo-content img {
    align-self: flex-end;
}

/******** ***** ********/

/******** about ********/

/******** ***** ********/

#about {
    /* background: #ddd; */
    padding: 75px 10px;
}

/* #about .flex-container {
    min-height: 100vh;
} */

.about-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: .25rem;
}

.about-pic {
    padding: 15px 0;
}

.about-us {
    padding: 15px;
}

#about .card {
    border-radius: .25rem;
}

.about-sec img {
    border-radius: .25rem;
    box-shadow: 4px 4px 4px 0 hsla(0, 0%, 0%, .2);
}

/******** ****** ********/

/******** skills ********/

/******** ****** ********/

#skills {
    padding: 75px 0;
}

/* #skills .flex-container {
    min-height: 100vh;
} */

#skills .row {
    width: 100%;
}

.skills-facts {
    padding: 15px;
}

.skills-facts img {
    max-height: 100px;
}

/******** ****** ********/

/******** quptes ********/

/******** ****** ********/

#quotes {
    /* background-color: #4ADFCC; */
    background-color: #00d1b2;
    padding: 55px 0;
}

/* #quotes .flex-container {
    min-height: 450px;
} */

.quote-box {
    margin: 0 auto;
    padding: 20px 0;
    border-radius: .25rem;
    /* background-color: #00d1b2; */
    color: white;
    max-width: 750px;
    min-height: 350px;
}

@media only screen and (max-width: 768px) {
    .quote-box {
        min-height: 400px;
    }
}

@media only screen and (max-width: 535px) {
    .quote-box {
        min-height: 450px;
    }
}

@media only screen and (max-width: 470px) {
    .quote-box {
        min-height: 500px;
    }
}

@media only screen and (max-width: 380px) {
    .quote-box {
        min-height: 550px;
    }
}

@media only screen and (max-width: 348px) {
    .quote-box {
        min-height: 575px;
    }
}

.quote-box>hr {
    border-top: 2px solid #4ADFCC;
    /* border-top: 2px solid #00d1b2; */
}

.quotation-mark {
    margin-top: -10px;
    font-weight: bold;
    font-size: 100px;
    color: white;
    font-family: "Times New Roman", Georgia, Serif;
}

.quote-text {
    font-size: 19px;
    margin-top: -65px;
}

/******** ********* ********/

/******** training ********/

/******** ******** ********/

#training {
    padding: 75px 0;
}

/* #training .flex-container {
    min-height: 100vh;
} */

#training img {
    max-height: 400px;
}

/******** ********* ********/

/******** contact ********/

/******** ******** ********/

#contact {
    /*  min-height: 450px;*/
    /* background: #3498db; */
    background: linear-gradient( rgba(52, 152, 219, 0.9), rgba(29, 111, 165, .9)), url(../img/events/12.JPG) no-repeat center center fixed;
    background-size: cover;
    color: #eee;
    padding: 75px 0;
}

/* #contact .flex-container {
    min-height: 450px;
} */

#contact .sec-heading:after {
    background: #00d1b2;
}

/* .contact-info i {
    width: 60px;
    height: 60px;
    font-size: 40px;
    line-height: 60px;
    color: #337ab7;
    background: #fff;
    text-align: center;
    border-radius: 6px;
} */

/******** ********* ********/

/******** partners ********/

/******** ******** ********/

#partners {
    padding: 75px 0;
}

/* #partners .flex-container {
    min-height: 650px;
} */

.affiliates {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.affiliates img {
    max-height: 150px;
    margin: 0 25px;
}

/******** ******* ********/

/******** footer ********/

/******** ****** ********/

footer {
    padding: 40px 0 10px 0;
    background: rgb(248, 248, 248);
    /* min-height: 200px; */
    /* background: #3498db;*/
    color: #1c2e53;
    border-top: 2px solid #eee;
}

footer a {
    margin: 0 10px;
    /* color: white; */
    color: transparent;
    /* text-align: center; */
}

.footer-links a {
    display: block;
    font-weight: 500;
}

.footer-links a:hover {
    color: white;
}

footer h3 {
    position: relative;
    padding-bottom: 5px;
    /* font-size: 18px; */
    font-weight: bold;
    margin-bottom: 15px;
    /* color: #39579a; */
}

footer h5 {
    font-size: 16px;
}

footer h3:after {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background: #00d1b2;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -38px;
}

footer p {
    /* position: relative;
    top: -20px; */
    margin-top: -20px;
}

.footer-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* hr {
    border-top: 2px solid #39579a;
} */

#copy {
    padding: 5px 0;
    background-color: #1c2e53;
    color: #fff;
    font-size: 80%;
}

.fa-stack {
    margin: 0 5px;
    font-size: 20px;
}

.fab {
    color: #1c2e53;
}

.fab:hover {
    color: white;
}

.facebook:hover {
    color: #39579a;
}

.twitter:hover {
    color: #00abf0;
}

.linkedin:hover {
    color: #0077b5;
}

/* .footer-bottom {
    margin-top: 30px;
} */

/******** ************ ********/

/******** contact page ********/

/******** ************ ********/

#contact-form {
    min-height: 450px;
    max-width: 992px;
    margin: 0 auto;
    background-color: #39579a;
    /* background-color: #fff; */
}

#contact-form .flex-container {
    flex-direction: row;
}

@media only screen and (min-width: 992px) {
    #contact-form {
        position: relative;
        margin-bottom: -50px;
        top: -100px;
        box-shadow: 4px 4px 4px 0 hsla(0, 0%, 0%, .2);
        border-radius: .25rem;
    }
    .contact-form {
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
    }
}

@media only screen and (max-width: 992px) {
    #contact-form {
        margin: 50px 0;
    }
}

.contact-form {
    background-color: white;
    min-height: 450px;
    padding: 15px;
}

.contact-info {
    padding: 15px;
    color: white;
}

.contact-info h3 {
    font-weight: bold;
}

/* skills page */

.card {
    box-shadow: 4px 4px 4px 0 hsla(0, 0%, 0%, .2);
}

.card-header {
    /* background-color: #00d1b2; */
    background-color: #39579a;
    text-align: center;
}

/******** ************ ********/

/* about page */

/******** ************ ********/

.about-img {
    max-width: 450px;
    border-radius: .25rem;
    /* box-shadow: 4px 4px 4px 0 hsla(0, 0%, 0%, .2); */
}

.page-header {
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#39579a, #0077b5);
    color: #fff;
    text-shadow: 2px 2px 8px rgba(255, 255, 255, .1);
}

.mb-75 {
    /* box-shadow: 4px 4px 4px 0 hsla(0, 0%, 0%, .2); */
    margin-bottom: 75px;
}